.header img{
    height: 80px;
    /* width: 80px; */
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;
}
.header nav a{
    text-decoration: none;
    color: #fff;
    padding: 6px;
    margin-right: 20px;

}
.header nav a:hover{
    background-color: gray;
    line-height: 40px;
}